@model Image_upload.ViewModels.HomeDetailsViewModel

@{
    ViewData["Title"] = Model.PageTitle;
    //dynamicall do it not hard code
    //
    var posterPath = "~/images/" + Model.movie.PhotoPath ?? "No Poster.jpg";
}

@*<h1>Details</h1>*@

 
    <div class="container" style="margin-top:4em;">
        <div class="row">
            <div class="col-sm-4 float-left shadow-lg p-3 mb-5 bg-white rounded">
                @* image tag helpers *@
                <img style="object-fit: contain; height: 100%; width: 100%;" class="rounded " src="@posterPath" asp-append-version="true" alt="" />

                @*<div class="imgContainer" style="background: url("~/images/Avengers.jpg") no-repeat center cover;">


                    <div class="card text-center">
                <div class="card-header">
                    <h4>This is the Header</h4>

                </div>
                <div class="card-body">
                    <h2>This is the Card Body</h2>

                </div>
                <div class="card-footer">
                    <h4>This is the footer</h4>
                </div>
            </div>*@

            </div>

            <div class="col-sm float-right shadow-none p-3 mb-5 bg-light rounded">
                <h1 class="text-center">@Model.movie.Title</h1>
                <h3>@Model.movie.Gener</h3>
                <h3>@Model.movie.Length</h3>

            </div>
        </div>
        <div class="row">


            <a asp-controller="home" asp-action="edit" asp-route-id=@Model.movie.MovieId class="btn btn-primary m-1">edit</a>
        </div>
        <div style="margin-bottom:6em";"></div>
    </div>


